
@import url(./chat.css);

@font-face {
  font-display: auto;
  font-family: 'Pokemon Fire Red';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/pokemon_fire_red.woff2') format('woff2');
}
body {
  background-color: #000;
  background-image: url('./images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Pokemon Fire Red', sans-serif !important;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

/* styles for bootstrap icons in here, since they are rendered outside scope of navbar component*/
.bi-book::before {
  vertical-align: -0.117em !important;
}

.bi-chat-dots::before {
  vertical-align: -0.09em !important;
  margin-right: 0.4em !important;
  font-size: 0.6em !important;
}

.bi-gear::before {
  vertical-align: -0.105em !important;
}

.bi-house::before {
  vertical-align: -0.057em !important;
}

.dropdown-toggle::after {
  vertical-align: 0.1em !important;
}

.navbar-toggler {
  padding: 0 !important;
}


